* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

html,
body {
    height: 100%;
    border: 1px solid fuchsia;
}

#content {
    height: 100%;
    border: 2px solid goldenrod;
}

h1 {
    text-align: center;
    padding-block: 3vh;
}

.red {
    color: red;
}

.tab-container {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.tab {
    flex: 1 1 auto;
    text-align: center;
    cursor: pointer;
    padding: 1vh;
    font-size: 1.2rem;
}

.selected {
    background-color: rgb(182, 255, 182);
}

.tab-content {
    text-align: center;
    font-size: 2rem;
    padding: 2vh;
    /* border: 10px solid rgb(19, 2, 2); */
}