* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid black; */
}

html,
body {
    height: 100vh;
    /* border: 1px solid fuchsia; */
    position: relative;
}

#content {
    height: 100%;
    border: 2px solid goldenrod;
    background: url("./bg.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
    /* resize: both;
    overflow: auto; */
    display: grid;
    grid-template-rows: 10vh 1fr;
    /* align-content: start; */
}

.order {
    text-align: center;
    padding-block: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    font-size: 1.2em;
}

.footer {
    text-align: center;
}

/* .red {
    color: red;
} */

.tab-container {
    display: flex;
    flex-flow: row wrap;
    width: 80vw;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    position: sticky;
    top: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    /* padding: 10px; */
    place-self: center;
    background-color: #fff;
    border-radius: 10px;
    color: black;
    padding: 0 10px 0 10px;
    opacity: 0.8;
}

.tab {
    flex: 1 1 0;
    text-align: center;
    cursor: pointer;
    /* padding: 1vh; */
    font-size: 1.3rem;
    opacity: 100%;
    border-radius: 10px;

}

.selected {
    opacity: 1;
    border-radius: 10px;
    background-color: rgb(39, 246, 39);
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-content {
    text-align: center;
    font-size: 2rem;
    border: 5px solid rgb(167, 47, 219);
    grid-area: 2/1/2/2;
    color: white;
    /* place-self: stretch; */
    display: flex;
    flex-flow: column nowrap;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
}

.home-head {
    /* padding: 100px; */
    border: 2px solid gray;
}

.home-main {
    /* padding: 300px; */
    border: 2px solid gray;
}