* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html,
body {
    height: 100vh;
    position: relative;
}

#content {
    border: 2px solid goldenrod;
}

.order {
    text-align: center;
    padding-block: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    font-size: 1.2em;
    color: black;
    background-color: #fff;
}

.upper-content {
    background: url("./bg.jpg");
    background-size: cover;
    /* border: 3px solid palegreen; */
    height: 100vh;
    display: grid;
    grid-template-rows: 12vh 1fr;
    align-content: start;
}

.lower-content {
    border: 3px solid palegreen;
}

.footer {
    text-align: center;
    padding-block: 10px;
    background-color: #fff;
    color: black;
}

.tab-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    position: sticky;
    top: 0;
}

.tab {
    flex: 1 1 0;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    color: rgb(183, 183, 183);
    padding: 5px;
    /* height: 50%; */
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    /* display: flex; */
    /* align-items: end; */
    /* justify-content: center; */
    font-family: 'Oswald', sans-serif;
    position: sticky;
    top: 0;
    /* border: 1px solid white; */
}

.selected {
    opacity: 0.8;
    /* display: flex;
    align-items: end;
    justify-content: center; */
    color: rgb(255, 255, 255);
}

.home-content {
    text-align: center;
    font-size: 2rem;
    /* border: 5px solid rgb(167, 47, 219); */
    grid-area: 2/1/2/2;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: clamp(50px, 10vh, 150px);
}

.contact-content {
    text-align: center;
    font-size: 2rem;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border: 5px solid rgb(167, 47, 219);
}

.menu-content {
    height: 100%;
    text-align: center;
    color: white;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    /* grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 20px;
    /* padding: clamp(20px, 4vh, 100px) clamp(20px, 5vw, 100px); */
    padding: 2vh 20vw;
    /* overflow: hidden;
    resize: both; */
    /* place-items: center; */
    /* justify-content: space-around;     */
    /* align-items: stretch; */
}

.menu-content>div{
    width: min(100%, 350px);
    height: min(100%, 400px);
    display: flex;
    flex-flow: column-reverse nowrap;
    /* flex-direction: ; */
    justify-content: center;
    align-items: center;
}

.menu-content img {
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    width: min(100%, 350px);
    object-fit: cover;
    /* display: none; */
}

.address {
    /* padding: 100px; */
}

.home-head {
    font-size: 4rem;
}

.home-head {
    /* padding: 100px; */
    /* border: 2px solid gray; */
}

.home-main {
    /* padding: 300px; */
    /* border: 2px solid gray; */
}

footer {
    /* position: fixed; */
    font-size: 20px;
    /* bottom: 0px; */
    /* height: 50px; */
    /* width: 100%; */
    display: flex;
    flex-flow: column wrap;
    /* justify-content: center; */
    align-items: center;
    /* opacity: 0; */
    /* transition: all .4s 2s; */
    color: black;
    gap: 20px;
}

.menu-main {

    /* display: flex; */
    /* flex-flow: row wrap; */

}

[class^="menu-item-"] {
    /* background-color: #fff; */
    border: 1px solid white;
    border-radius: 8px;
    /* width: 100px; */
    /* flex: 1 1 0; */
}

footer div {
    color: black;
}

footer>img:nth-child(1) {
    /* transform: rotate(360deg) scale(1); */
    transition: all 0.4s ease-in-out;
    border: 2px solid black;
    cursor: pointer;
    /* width: min-content; */
}

footer>img:nth-child(1):hover {
    transform: rotate(360deg) scale(1.1);
    transition: all 0.4s ease-in-out;
}

.heart {
    color: rgb(252, 80, 80);
}

footer a {
    text-decoration: none;
}

a:visited {
    color: rgb(158, 197, 65);
}

a:hover {
    color: rgb(48, 161, 86);
}

footer:hover {
    opacity: 1;
    transition: all .4s;
}